* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  background: rgba(0, 68, 255, 0.842);
  font-size:  20px;
}
/**
 * Сброс стилей у кнопки.
 * Придётся немного поработать, чтобы получить нейтральный вид.
*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
/* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
a {
  color: white;
}
.input {
  align-items: center;
  display: flex;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app-title {
  color: white;
  text-align: center;
}

.container {
  text-align: center;

}
li {
  list-style: none;
}

.input-text {
  font-size: 16px;
  padding: 10px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 15px;

}

.add-btn {
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  background-color: purple;
  margin-left: 10px;
  color: white;
}



.list {
  background-color: #fff;
  display: block;
  width: 410px;
  border-radius: 15px;
  margin-top: 10px;
}

.list input {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 8px;
  color: black;
}

.btn {
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 100px;
  background-color: red;
  margin-left: 10px;
  margin-left: 50px;
  color: white;
}